syntax: glob

.DS_Store

*.bak
*.orig
*~

build
bin
obj
release
ipch
**.lnt
**.vlstatus

Makefile
*.make
*.xcodeproj
*.xcworkspace
*.swp
*.sdf
*.suo
*.ncb
*.sln
*.vcproj*
*.vcxproj*
*.VC.opendb
*.VC.db
*.opensdf
*.workspace
*.code-workspace
*.project
*.tags
*.sublime-*
*.csproj*
.cproject
.settings
.buildpath

*.bbprojectsettings
Scratchpad.txt
Unix Worksheet.worksheet
project.bbprojectdata

.vs/*